<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 存储 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!-- 针对 Android 13+（API 33+），声明精细媒体权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- 兼容 Android 12 及以下（可选，若需支持旧版本） -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- 蓝牙权限 =================开始    -->
    <!-- Android 12+ 所需权限 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:ignore="UnusedAttribute" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Android < 12 所需权限 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <!-- 允许应用程序发现和配对蓝牙设备 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 声明蓝牙功能（可选，过滤无蓝牙设备） -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <!-- 后台扫描需要的后台位置权限（如果需要后台扫描才加） -->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:maxSdkVersion="33"
        tools:ignore="BackgroundLocationPolicy" />
    <!-- 蓝牙权限 =================结束    -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 获取手机震动服务 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- -wifiP2P 相关权限 =========================start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Android 6 ~ Android 12 (API 23 ~ 32) 需要声明定位权限（Wi-Fi P2P 扫描需要） -->

    <uses-feature android:name="android.software.companion_device_setup" />

    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" /> <!-- 允许在后台使用数据 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" /> <!-- 允许从后台启动前台服务 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />
    <!-- 屏幕录制权限（Android 10+需要） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <!-- PSTORE SDK接⼝权限 -->
    <uses-permission android:name="cybertech.permission.READ_PSTORE" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_USERINFO" /> <!-- 读取同步时间的权限 -->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_SERVER_SYNC_TIME" /> <!-- 读取链路信息的权限 -->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LINKINFO" /> <!-- 读取位置信息的权限 -->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LOCATIONINFO" /> <!-- 提交操作⽇志的权限 -->
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_OPERATIONLOG" /> <!-- 提交状态数据的权限 -->
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_APP_STATE_MONITOR" /> <!-- 组件授权 -->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_COMPONENT_AUTHORIZATION" /> <!-- 消息推送 -->
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_PUSH" /> <!-- 数据共享 -->
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_SHARE_DATA" /> <!-- 应⽤市场应⽤/组件检测 -->
    <uses-permission android:name="cybertech.permission.READ_MARKET_APPS_CHECK" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="http|https" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

        <!-- PSTORE -->
        <provider android:authorities="cn.com.cybertech.pstore.provider" />

        <!-- PSTORE sdga -->
        <provider android:authorities="cn.com.cybertech.pstore.sdga.provider" />
    </queries>

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="false" /> <!-- wifiP2P 相关权限  ===========================end。 -->
    <!-- 蓝牙相关权限 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Phonedemo"
        tools:targetApi="31">
        <activity
            android:name=".ImagePreviewActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".MessageReceiveActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".VideoReceiveActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".BluetoothActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".BluetoothRingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.BtWifiConnectActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.classicbt.ui.BluetoothNoFindActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.classicbt.ui.ClassicBtActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.WifiP2PSettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.DeviceLinerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".SendMessageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.MainPhoneActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/Theme.Phonedemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".notification.service.MessageNotificationListenerService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".system.ui.SystemOtaActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
    </application>

</manifest>